.four-section {
    margin-bottom: 200px;

    .block-width-text {
        width: 55%;

        h2 {
            margin-top: 15px;
            margin-bottom: 31px;
            text-transform: capitalize;
        }

        :nth-child(1) {
            font-weight: 600;
            font-size: 18px;
            color: $text-color;
        }

        .flex-colum {
            margin-left: 21px;
            align-items: flex-start;

            p {
                font-weight: 400;
                line-height: 1.25
            }

            h3 {
                font-family: Poppins;
                font-weight: 700;
                line-height: 1.24;
                margin-bottom: 4px;
                font-size: 16px;
            }
        }

        .flex-horizontal {
            width: 70%;
            margin-bottom: 48px;

            img {
                transition: transform 0.2s;
            }

            &:hover img {
                transform: skew(15deg, 0) rotate(0.5turn);
            }

            &:hover p {
                font-weight: 600;
            }

        }
    }

    .block-width-img {
        padding: 20px 24px 31px 25px;
        border-radius: 26px;
        background-color: #fff;
        color: $text-color-trip-info;
        position: relative;
        box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);

        &:hover .block-scale {
            transform: translate(100px, 25px);
        }

        &:hover .shadow {
            opacity: 0;
        }

        .block-info {
            margin-bottom: 21px;

            :nth-child(n) {
                margin-right: 13px;
            }

            :nth-child(1) {
                padding-right: 3px;
                border-right: 1px solid $text-color-trip-info;
            }
        }

        .shadow {
            min-width: 354px;
            min-height: 367px;
            border-radius: 367px;
            opacity: 0.8;
            background: #59B1E6;
            filter: blur(75px);
            padding: 1px;
            position: absolute;
            z-index: -5;
            top: -15%;
            left: 15%;
            transition: opacity 1s;
        }

        .block-link {
            margin-bottom: 30px;

            a {
                margin-right: 18px;
            }
        }

        .block-scale {
            position: absolute;
            background-color: #fff;
            padding: 16px 25px 22px;
            border-radius: 18px;
            box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
            top: 50%;
            left: 62%;
            transition: transform 1s;

            img {
                border-radius: 50%;
            }

            p {
                font-size: 14px;
            }

            h4 {
                margin-top: 6px;
                margin-bottom: 14px;
            }

            span {
                color: #8A79DF;
            }

            .scale {
                min-width: 156px;
                background-color: #f5f5f5;
                min-height: 5px;
                border-radius: 10px;
            }

            .scale-value {
                background-color: #8A79DF;
                width: 40%;
                height: 100%;
                padding: 1px;
                border-radius: 10px;
            }

        }


        .flex-horizontal {
            align-items: flex-start;
            gap: 10px;
        }

        h4 {
            margin-top: 26px;
            margin-bottom: 14px;
        }
    }
}