.hiden {
    display: none;
}

.open {
    display: block;
    position: absolute;
    z-index: -5;
    top: 86%;
    left: -12%;
}
.second-section {
    background: url("../img/crosses.png") right top / 127px no-repeat ;
    :nth-child(1) {
        font-weight: 600;
        font-size: 18px;
    }
    h2 {
        margin-top: 10px; 
        margin-bottom: 68px;
     }

}

.block-service {
    
    margin-bottom: 210px;
    img {
        height: 78px;
        transition: transform 1s;
    }
    .active:hover img {
        transform: rotate(2turn);
    }

    div {
        min-height: 400px;
        padding: 45px 42px 45px 44px;
        text-align: center;
        cursor: pointer;
    }

    .unique-img {
        height: 153px;
        margin-bottom: 0;
    }

    .active {
        box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
        background-color: #fff;
        border-radius: 36px;
        position: relative;
    }

    .norm-img {
        margin-bottom: 29px;
    }
    .flex-colum {
        justify-content: flex-end;
    } 

}