.six-section {

    margin-bottom: 150px;

    img {
        filter: grayscale(100%);
        transition: transform 0.7s, transform 0.5s;

        &:hover {
            transform: scale(1.5, 1.5);
            filter: grayscale(0);
        }
    }

    img:nth-child(3) {
        filter: none;
    }
}